/*==============================Обнуление==============================*/
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/*=====================================================================*/

/*==============================Основные==============================*/
body {
	font-family: 'Gilroy', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #212121;
	background-color: #fefdfd;
	letter-spacing: 0.3px;
}

input,
button,
textarea {
	font-family: 'Gilroy', sans-serif;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}

.container {
	max-width: 1330px;
	padding: 0px 15px;
	margin: 0 auto;
	width: 100%;
}

body._lock {
	overflow: hidden;
}

/*=====================================================================*/

/*==============================Общие стили==============================*/
.section-title {
	margin: 0 0 60px 0;
}

.section-title__title {
	font-size: 28px;
	font-weight: 700;
}

@media (max-width: 991.98px) {
	.section-title {
		margin: 0 0 45px 0;
	}

	.section-title__title {
		font-size: 26px;
	}
}

@media (max-width: 575.98px) {
	.section-title {
		margin: 0 0 30px 0;
	}

	.section-title__title {
		font-size: 24px;
	}
}

/*=====================================================================*/

/*==============================Шапка сайта==============================*/
.header {
	background-color: #fff;
}

.header__body {}

.header-top {}

.top-header {
	display: flex;
	align-items: center;
	padding: 15px 0 15px 0;
}

.top-header__logo {}

.top-header__logo img {
	height: 27px;
}

.top-header__menu {
	flex: 1 1 auto;
}

.top-menu {}

.top-menu__body {}

.top-menu__list {}

.top-menu__link {
	color: #212121;
	transition: color 0.3s ease 0s;
}

.top-active-link {
	color: #1976D2;
}

.top-menu__link .active-link {}

.top-menu__list {}

.top-menu__list .mobile {}

.top-menu__link .mobile {}

.top-header__contacts {
	display: flex;
	align-items: center;
}

.top-header__number {
	color: #212121;
	font-size: 17px;
	font-weight: 600;
	padding: 0 20px 0 0;
	transition: color 0.3s ease 0s;
}

.top-header__number:hover {
	color: #1976D2;
}

.top-header__social {}

._icon-vk::before {
	font-size: 27px;
	color: #597da3;
}

._icon-phone:before {
	font-size: 27px;
	padding: 0 12px 0 0;
	color: #6bbea3;
}

.menu__icon {
	display: none;
}

.menu__icon span {}

.header__bottom {}

.bottom-header {
	background-color: #1976D2;
	transition: all 0.3s ease 0s;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.bottom-header.sticky {
	background-color: #fff;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, .2);
	z-index: 50;
}

.bottom-header.sticky .bottom-menu__link {
	color: #212121;
}

.bottom-header.sticky .bottom-active-link {
	color: #1976D2;
}

.bottom-header__menu {}

.bottom-menu {}

.bottom-menu__body {}

.bottom-menu__list {
	margin: 0 -5px 0 -5px;
	padding: 15px 0 15px 0;
}

.bottom-menu__link {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	padding: 0 5px 0 5px;
	transition: color 0.3s ease 0s;

}

.bottom-active-link {
	color: #b0b0b0;
}

@media (min-width: 768px) {
	._icon-phone:before {
		display: none;
	}

	.top-menu__list .mobile {
		display: none;
	}

	.top-menu__link {
		font-size: 16px;
		font-weight: 600;
	}

	.top-menu__link:hover {
		color: #1976D2;
	}

	.top-menu__list {
		display: flex;
		align-items: center;
		margin: 0 0 0 50px;
	}

	.top-menu__list li {
		margin: 0 15px 0 0;
	}

	.top-menu__list li:last-child {
		margin: 0 0 0 0;
	}

	.bottom-menu__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.bottom-header.sticky .bottom-menu__link:hover {
		color: #1976D2;
	}

	.bottom-menu__link:hover {
		color: #d3d2d2;
	}
}

@media (max-width: 991.98px) {
	.bottom-menu__link {
		font-size: 12px;
	}

	.top-header__number {
		font-size: 16px;
	}
}

@media (max-width: 767.98px) {
	.page {
		padding: 57px 0 0 0;
	}

	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		box-shadow: 0 0 7px 0 rgba(0, 0, 0, .2);
	}

	.header__body {
		height: 57px;
	}

	.top-header__logo img {
		height: 27px;
	}

	.top-menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255);
		padding: 60px 30px 30px 30px;
		margin-left: 0;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}

	.top-menu__body._active {
		left: 0;
	}

	.top-header__number {
		display: none;
	}

	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		margin: 0 0 0 25px;
	}

	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #222;
	}

	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.top-menu__list li {
		margin: 0 0 25px 0;
	}

	.top-menu__link {
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.bottom-header {
		display: none;
	}
}


/*==============================Main-block==============================*/
.main-block {
	background: #f2f8fb;
}

.main-block__body {
	display: flex;
}

.main-offer__title {
	font-weight: 800;
}

.main-offer__subtitle {
	font-weight: 700;
}

.main-offer__subtitle span {
	color: #1976D2;
}

.main-offer__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #f8a42d;
	border-radius: 50px;
	padding: 0px 35px;
	font-size: 17px;
	color: #fff;
	font-weight: 600;
	line-height: 115%;
	height: 44px;
	transition: all 0.3s ease 0s;
}

.main-block__img {
	height: auto;
	overflow: hidden;
	text-align: center;
}

.main-block__img img {
	max-width: 100%;
}

@media (min-width: 768px) {
	.main-block__body {
		align-items: center;
		padding: 80px 0;
	}

	.main-offer {
		flex: 1 1 auto;
		padding: 0 10px 0 0;
	}

	.main-offer__title {
		font-size: 38px;
		line-height: 115%;
		max-width: 520px;
		margin: 0 0 30px 0;
	}

	.main-offer__subtitle {
		font-size: 19px;
		line-height: 135%;
		margin: 0 0 45px 0;
	}

	.main-block__img {
		flex: 0 0 385px;
		padding: 0 0 0 10px;
	}

	.main-offer__button:hover {
		background: #f3930d;
	}
}

@media (max-width: 1199.98px) {
	.main-block__body {
		padding: 70px 0;
	}

	.main-offer__title {
		font-size: 34px;
		max-width: 460px;
	}

	.main-offer__subtitle {
		font-size: 18px;
	}

	.main-block__img {
		flex: 0 0 360px;
	}
}

@media (max-width: 991.98px) {
	.main-block__body {
		padding: 60px 0;
	}

	.main-offer__title {
		font-size: 26px;
		max-width: 356px;
		margin: 0 0 20px 0;
	}

	.main-offer__subtitle {
		font-size: 16px;
		margin: 0 0 25px 0;
		max-width: 300px;
	}

	.main-offer__button {
		font-size: 16px;
		height: 40px;
	}

	.main-block__img {
		flex: 0 0 302px;
		height: auto;
	}
}

@media (max-width: 767.98px) {
	.main-block__body {
		flex-direction: column;
		padding: 50px 0;
	}

	.main-offer {
		order: 2;
		text-align: center;
	}

	.main-offer__title {
		max-width: none;
		font-size: 28px;
	}

	.main-offer__subtitle {
		max-width: none;
		font-size: 18px;
		margin: 0 0 35px 0;
	}

	.main-offer__button {
		height: 44px;
	}

	.main-block__img {
		text-align: center;
		margin: 0 0 50px 0;
	}
}

@media (max-width: 575.98px) {
	.main-block__body {
		padding: 40px 0;
	}

	.main-offer__title {
		font-size: 24px;
	}

	.main-block__img {
		text-align: center;
		flex: 0 0 100%;
		height: 216.25px;
		margin: 0 0 30px 0;
	}

	.main-block__img img {
		max-width: 290px;
	}
}

/*=====================================================================*/

/*==============================Преимущества==============================*/
.advantages-block__body {
	display: flex;
	padding: 30px 0 30px 0;
	border-bottom: 1px solid #e1e1e1;
}

.item-advantages {
	display: flex;
	flex: 1 1 25%;
	align-items: center;
}

.item-advantages__text {
	font-weight: 600;
	line-height: 115%;
}

@media (min-width: 1200px) {
	.advantages-block__body {
		margin: 0 -15px 0 -15px;
	}

	.item-advantages {
		padding: 0 15px 0 15px;
	}

	.item-advantages__img img {
		height: 60px;
		margin: 0 20px 0 0;
	}

	.item-advantages__text {
		font-size: 15px;
	}
}

@media (max-width: 1199.98px) {
	.advantages-block__body {
		margin: 0 -10px 0 -10px;
	}

	.item-advantages {
		flex-direction: column;
		text-align: center;
		padding: 0 10px 0 10px;
	}

	.item-advantages__img img {
		height: 55px;
		margin: 0 0 20px 0;
	}

	.item-advantages__text {
		font-size: 14px;
		max-width: 225px;
	}
}

@media (max-width: 767.98px) {
	.advantages-block__body {
		flex-wrap: wrap;
		margin: 0 -10px 0 -10px;
	}

	.item-advantages {
		flex: 0 1 50%;
		padding: 0px 10px 40px 10px;
	}

	.item-advantages:nth-child(3),
	.item-advantages:nth-child(4) {
		padding-bottom: 0;
	}

}

/*=====================================================================*/

/*==============================Услуги==============================*/
.services-block {
	padding: 120px 0 0 0;
}

.services-block__body {
	display: flex;
	align-items: flex-start;
	margin: 0 -15px 0 -15px;
}

.item-services {
	padding: 0 15px 0 15px;
}

.item-services__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px;
	min-height: 400px;
	background-color: #fff;
	border: 0.5px solid #eee;
	box-shadow: 0 .25rem 1.75rem rgba(30, 34, 40, .099) !important;
	transition: all 0.3s ease 0s;
}

.item-services__img {
	margin: 0 0 45px 0;
}

.item-services__img img {
	height: 60px;
}

.item-services__title {
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 30px 0;
}

.item-services__text {
	margin: 0 0 35px 0;
	flex: 1 1 auto;
	line-height: 120%;
}

.item-services__more {
	font-size: 15px;
	font-weight: 600;
	display: inline-block;
}

._icon-right::after {
	font-size: 20px;
	padding-left: .05rem;
	font-size: .85rem;
	font-weight: 400;
	vertical-align: -2px;
	margin-right: -.25rem;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.link-yellow {
	color: #fab758;
}

.link-red {
	color: #e2626b;
}

.link-green {
	color: #6bbea3
}

.link-blue {
	color: #3f78e0;
}

.link-yellow,
.link-red,
.link-green,
.link-blue {
	transition: color 0.3s ease 0s;
}

@media (min-width: 768px) {
	.item-services__more:hover._icon-right::after {
		transform: translateX(5px);
	}
}

@media (min-width: 992px) {
	.item-services {
		flex: 0 1 25%;
	}
}

@media (max-width: 1199.98px) {
	.services-block {}

	.services-block__body {
		margin: 0 -10px 0 -10px;
	}

	.item-services {
		padding: 0 10px 0 10px;
	}

	.item-services__content {
		padding: 20px;
	}

	.item-services__img img {
		height: 55px;
	}
}

@media (max-width: 991.98px) {
	.services-block {}

	.services-block__body {
		flex-wrap: wrap;
	}

	.item-services {
		flex: 0 1 50%;
		padding: 15px 10px 15px 10px;
	}

	.item-services:nth-child(3),
	.item-services:nth-child(4) {
		padding-bottom: 0;
	}

	.item-services__content {
		min-height: 320px;
	}

	.item-services__img {
		margin: 0 0 35px 0;
	}

	.item-services__title {
		margin: 0 0 20px 0;
	}
}

@media (max-width: 575.98px) {
	.services-block__body {
		margin: 0 -15px 0 -15px;
	}

	.item-services {
		flex: 0 1 100%;
		padding: 15px 0px 15px 0px;
	}

	.item-services:nth-child(3) {
		padding-bottom: 15px;
	}

	.services-block {
		padding: 100px 0 0 0;
	}
}
























/*==============================Подвал==============================*/
.footer {
	background: #2e2e2f;
	padding: 50px 0 50px 0;
}

.footer__body {
	display: flex;
	align-items: flex-start;
}

.item-footer {}

.item-footer__title {
	font-size: 16px;
	font-weight: 600;
	margin: 0 0 15px 0;
	color: #b0b0b0;
}

.text-footer {
	line-height: 150%;
}

.text-footer a {
	transition: color 0.3s ease 0s;
}

.text-footer__white {
	color: #fff;
}

.text-footer__yellow {
	color: #f8a42d;
	border-bottom: 1px dotted;
}

@media (min-width: 768px) {
	.footer__body {
		justify-content: space-between;
		margin: 0 -5px 0 -5px;
	}

	.item-footer {
		padding: 0 5px 0 5px;
	}

	.text-footer a:hover {
		color: #b0b0b0;
	}
}

@media (max-width: 991.98px) {
	.text-footer a {
		font-size: 14px;
	}

	.footer {
		padding: 40px 0 40px 0;
	}
}

@media (max-width: 767.98px) {
	.footer {
		padding: 25px 0 25px 0;
	}

	.footer__body {
		flex-wrap: wrap;
	}

	.item-footer {
		flex: 0 1 50%;
		padding: 20px 0px;
		text-align: center;
	}
}

@media (max-width: 512.98px) {
	.item-footer {
		flex: 0 1 100%;
		padding: 20px 0px;
		text-align: center;
	}

	.text-footer a {
		font-size: 16px;
	}
}

/*=====================================================================*/

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	/* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 45px;
	font-weight: normal;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-text {
	padding: 40px;
}