/*===============Обнуление===============*/
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html,
body {
	height: 100%;
	min-width: 320px;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/*=======================================*/

/*===============Основные===============*/
html,
body {
   font-family: 'Gilroy', sans-serif;
   font-size: 16px;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #222;
   background-color: #fefdfd;
}
input,
button,
textarea {
	font-family: 'Gilroy', sans-serif;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.page {
   flex: 1 1 auto;
}
@media (max-width: 767.98px) {
	.page {
		padding: 55px 0 0 0;
	}
}
.container {
	max-width: 1320px;
	padding: 0px 15px;
	margin: 0 auto;
	width: 100%;
}
body._lock {
	overflow: hidden;
}

/*===============Шапка===============*/
.header {
	background-color: #fff;
}
@media (max-width: 767.98px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background-color: #fff;
		box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
	}
}
.header__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header__top {
	
}
.top-header {
	display: flex;
	align-items: center;
	padding: 15px 0 15px 0;
}
@media (max-width: 767.98px) {
	.top-header {
		
	}
}
.top-header__logo {
	margin: 0 50px 0 0;
}
@media (max-width: 991.98px) {
	.top-header__logo {
		margin: 0 35px 0 0;
	}
}
.top-header__logo img {
	height: 30px;
}
@media (max-width: 1199.98px) {
	.top-header__logo img {
		height: 25px;
	}
}
.top-header__menu {
	flex: 1 1 auto;
}
.top-menu {

}
.top-menu__body {

}
@media (max-width: 767.98px) {
	.top-menu__body{
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255);
		padding: 70px 30px 30px 30px;
		margin-left: 0;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
   .top-menu__body._active {
		left: 0;
	}
   
}
.top-menu__list {
	
}
@media (min-width: 768px) {
	.top-menu__list {
		display: flex;
		align-items: center;
	}
}
.top-menu__list .mobile {

}
@media (min-width: 768px) {
	.top-menu__list .mobile {
		display: none;
	}
}
.top-menu__list li {
	margin-right: 15px;
}
@media (max-width: 767.98px) {
	.top-menu__list li {
		margin: 0 0 25px 0;
	}
}
.top-menu__link {
	color: #212121;
	font-size: 15px;
	font-weight: 600;
	position: relative;
}
@media (max-width: 767.98px) {
	.top-menu__link {
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
	}
}
.active-link {
	color: #1976D2;
}
.top-header__contacts {
	display: flex;
	align-items: center;
}
.top-header__number {

}
.top-header__number a {
	margin: 0 15px 0 0;
	color: #212121;
	font-size: 16px;
	font-weight: 600;
}
@media (max-width: 991.98px) {
	.top-header__number a {
		margin: 0 15px 0 0;
		font-size: 15px;
	}
}
@media (max-width: 767.98px) {
	.top-header__number {
		display: none;
	}
}
.top-header__social {

}
.top-header__social img {
	height: 25px;
}
.header__bottom {
	
}
.bottom-header {
	background-color: #1976D2;
	transition: 0.3s ease 0s;
}
@media (max-width: 767.98px) {
	.bottom-header {
		display: none;
	}
}
.bottom-header.sticky {
	background-color: #fff;
	box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
}
.bottom-header.sticky .bottom-menu__link {
	color: #212121;
}
.bottom-header__menu {

}
.bottom-menu {

}
.bottom-menu__body {
	padding: 12px 0;
}
.bottom-header.sticky .bottom-menu__body {
	padding: 17px 0;
}
.bottom-menu__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (max-width: 767.98px) {
	.bottom-menu__list {
		justify-content: start;
		flex-wrap: wrap;
	}
}
.bottom-menu__list li {

}
@media (max-width: 767.98px) {
	.bottom-menu__list li {
		padding: 5px 0;
		
	}
}
.bottom-menu__link {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}
@media (max-width: 991.98px) {
	.bottom-menu__link {
		font-size: 14px;
	}
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
 }

 .menu__icon {
	display: none;
}
@media (max-width: 767.98px) {
   .menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		margin: 0 0 0 25px;
	}
   .menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #222;
	}
   .menu__icon::before,
	.menu__icon::after {
		content: "";
	}
   .menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
}

/*===============Main-block===============*/
.main-block {
	background-color: #f2f8fb!important;
}
.main-block__body {
	min-height: 450px;
	display: flex;
	align-items: center;
}
@media (max-width: 1199.98px) {
	.main-block__body {
		min-height: 380px;
	}
}
@media (max-width: 991.98px) {
	.main-block__body {
		min-height: 310px;
	}
}
@media (max-width: 767.98px) {
	.main-block__body {
		min-height: 530px;
		flex-direction: column;
		align-items: center;
		padding: 15px 0;
	}
}
@media (max-width: 575.98px) {
	.main-block__body {
		min-height: 530px;
	}
}
.main-block__offer {
	flex: 0 1 50%;
	text-align: left;
}
@media (max-width: 767.98px) {
	.main-block__offer {
		order: 2;
		flex: 0 1 100%;
		text-align: center;
		padding: 20px 0 10px 0;
	}
}
.main-block__title {
	font-size: 38px;
	letter-spacing: 0.8px;
	font-weight: 900;
	max-width: 540px;
	line-height: 105%;
	margin: 0 0 30px 0;
}
@media (max-width: 1199.98px) {
	.main-block__title {
		max-width: 470px;
		font-size: 34px;
		line-height: 105%;
		margin: 0 0 20px 0;
	}
}
@media (max-width: 991.98px) {
	.main-block__title {
		max-width: 360px;
		font-size: 26px;
		line-height: 105%;
		margin: 0 0 18px 0;
	}
}
@media (max-width: 767.98px) {
	.main-block__title {
		font-size: 28px;
		letter-spacing: 0.8px;
		font-weight: 900;
		max-width: none;
		line-height: 105%;
		margin: 0 0 20px 0;
	}
}
@media (max-width: 575.98px) {
	.main-block__title {
		font-size: 24px;
	}
}
.main-block__subtitle {
	max-width: 540px;
	font-size: 20px;
	font-weight: 800;
	margin: 0 0 40px 0;
}
@media (max-width: 1199.98px) {
	.main-block__subtitle {
		max-width: 470px;
		font-size: 18px;
		margin: 0 0 30px 0;
	}
}
@media (max-width: 991.98px) {
	.main-block__subtitle {
		max-width: 300px;
		font-size: 16px;
		line-height: 110%;
		margin: 0 0 20px 0;
	}
}
@media (max-width: 767.98px) {
	.main-block__subtitle {
		max-width: none;
		font-size: 18px;
		font-weight: 800;
		margin: 0 0 30px 0;
	}
}
.main-block__subtitle span {
	color: #1976D2;
}
.main-block__button {

}
.main-block__button a {
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding: 14px 30px;
	color: #fff;
	background-color: #fab758;
	letter-spacing: 0.5px;
	border-radius: 50px;
	cursor: pointer;
	transition: .2s ease 0s;
}
@media (max-width: 1199.98px) {
	.main-block__button a {
		font-size: 15px;
		padding: 12px 25px;
	}
}
@media (max-width: 991.98px) {
	.main-block__button a {
		font-size: 14px;
		padding: 12px 20px;
	}
}
@media (max-width: 767.98px) {
	.main-block__button a {
		font-size: 14px;
		padding: 12px 15px;
	}
}
.main-block__img {
	flex: 0 1 50%;
	text-align: right;
}
@media (max-width: 767.98px) {
	.main-block__img {
		flex: 0 1 100%;
		text-align: center;
		padding: 10px 0 20px 0;
	}
}
.main-block__img img {
	max-width: 390px;
}
@media (max-width: 1199.98px) {
	.main-block__img img {
		max-width: 330px;
	}
}
@media (max-width: 991.98px) {
	.main-block__img img {
		max-width: 280px;
	}
}
@media (max-width: 767.98px) {
	.main-block__img img {
		max-width: 310px;
	}
}
@media (max-width: 575.98px) {
	.main-block__img img {
		max-width: 260px;
	}
}
/*=======================================*/

/*===============Преимущества===============*/
.advantages {
	padding: 20px 0 20px 0;
}
.advantages__row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -15px 0 -15px;
	border-bottom: 1px solid #e1e1e1;
	padding: 0 0 30px 0;
}
@media (max-width: 991.98px) {
	.advantages__row {
		border-bottom: none;
		padding: 0 0 0 0;
	}
}
.advantages__item {
	display: flex;
	flex: 1 1 25%;
	align-items: center;
	padding: 7.5px 15px 7.5px 15px;
}
@media (max-width: 991.98px) {
	.advantages__item {
		flex: 1 1 50%;
	}
}
@media (max-width: 767.98px) {
	.advantages__item {
		flex-wrap: wrap;
		justify-content: center;
		padding: 7.5px 15px 15px 15px;
	}
}
.advantages__img {
	padding: 0 20px 0 0;
}
@media (max-width: 1199.98px) {
	.advantages__img {
		padding: 0 17px 0 0;
	}
}
@media (max-width: 767.98px) {
	.advantages__img {
		padding: 0 0 13px 0;
	}
}
.advantages__img img {
	height: 57px;
}
@media (max-width: 1199.98px) {
	.advantages__img img {
		height: 57px;
	}
}
.advantages__text {
	display: flex;
	flex-direction: column;
}
@media (max-width: 767.98px) {
	.advantages__text {
		text-align: center;
	}
}
.advantages__title {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 7px 0;
}
.advantages__subtitle {
	font-size: 14px;
	font-weight: 500;
}
@media (max-width: 1199.98px) {
	.advantages__subtitle {
		font-size: 13px;
	}
}
/*=======================================*/

